.comic-details {
  padding: 75px;
}

.back-btn {
  background-color: #e23e57;
  padding: 10px 15px;
  display: inline-block;
  color: #f1f1f1;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #b9031e;
}

.main-detail-container {
  display: flex;
  margin-top: 10vh;
}

.detail-container {
  border: 2px solid blue;
  height: 500px;
}

.details-img {
  width: 300px;
}

.detail-title {
  color: #e84545;
  font-size: 2.6rem;
  margin-bottom: 6vh;
}

.detail-text-container {
  width: 45%;
  margin-left: 7vw;
}

.detail-text-container p {
  color: #f1f1f1;
  line-height: 1.5;
  font-size: 1.15rem;
}

.description {
  margin-bottom: 5vh;
}

.detail-text-container .print-price {
  font-size: 1.4rem;
}

span {
  font-weight: bold;
}
