a {
  text-decoration: none;
  color: #000;
}

body {
  background-color: #2b2e4a;
}

.price-btn {
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 70px;
  cursor: pointer;
}

.error-message {
  text-align: center;
  margin-top: 15vh;
  font-size: 2.5rem;
  color: #fff;
}

.error-back-btn {
  background-color: #e23e57;
  padding: 10px 15px;
  display: inline-block;
  color: #f1f1f1;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  position: relative;
  left: 45%;
  top: 30px;
}

/* Media Queries */
@media only screen and (max-width: 650px) {
  .comics-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .search-input {
    width: 50%;
  }

  .main-detail-container {
    flex-direction: column;
    text-align: center;
  }

  .detail-text-container {
    width: 100% !important;
    margin-left: 0vh !important;
    margin-top: 20px;
  }

  .main-detail-container img {
    width: 100%;
  }
}

@media (min-width: 651px) and (max-width: 1024px) {
  .comics-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .detail-img-container {
    width: 40%;
  }

  .detail-img-container img {
    width: 100%;
  }
}
